body{
    box-sizing: border-box;
 }
#add-folder-btn{
    width : 200px;
    height : 50px; 
    border-radius : 5px;
    margin-left: 650px;
    margin-bottom: 10px;
    cursor: pointer;
}
#add-folder-btn:hover {
    transform: scale(1.02);
}
#breadcrumb{
    display: flex;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.path{
    color : black;
    background-color : green;
    padding: 5px;
    border-right: 2px solid black;
    cursor: pointer;
}
.path:hover{
    background-color :black;
    color : white;
}
.folders-container{
    display: flex;
    border-top: 1px solid black;
    padding: 10px;
}
.folder{
    height: 110px;
    width: 150px;
    background-color :darkgoldenrod;
    border-radius : 10px;
    padding : 10px;
    margin : 5px;
}
.folder [action] {
    text-decoration: underline;
    cursor: pointer;
}

.folder [purpose = 'name']{
    margin-top: 20px;
    font-weight: bold;
}